body{
 background-color: rgb(167, 167, 167);
font-family:'Oswald', sans-serif;;
}
div.title{
border-style: solid ;
border-width: 2px;
padding: 10px;
margin:0 auto;
width: 0 auto;
background-color: aliceblue;
font-family: 'Lato', sans-serif;

}
div.general-blocks{
    height: 300px;
    width: 300px;
    
}
div.Block{
    border: auto;
    width: 100px;
    height: 100px;
    margin: 0px;
    
}
div.Red{ 
    background-color: red;
    float: left;
    
}
div.Blue{
    background-color: blue;
    float: left;
}
div.Green{
    background-color: green;
    float: left; 
}
div.Yellow{
    background-color: yellow;  
    float: left;
}
div.Orange{
    background-color: orange;  
    float: left;
}
div.Purple{
    background-color: purple;  
    float: left;
}
div.Brown{
    background-color: Brown;  
    float: left;
}
div.Black{
    background-color: Black;  
    float: left;
}
div.Indigo{
    background-color: Indigo;  
    float: left;
}